{% extends "layout.html" %}

{% block content %}
  
  <div class="page-header">
    <h1>Welcome to Twitter.js!</h1>
  </div>
  <div class="row">
    <div class="col-md-3">
      <img src="https://pbs.twimg.com/profile_images/2450268678/olxp11gnt09no2y2wpsh_normal.jpeg"><br>
      <b>Jabrina Chang</b><br>
      @jchizzle<br>
      100m followers
    </div>
    <div class="col-md-9">
      {% if showForm %}
        <form action="/tweets" method="POST" class="form tweet-form" >
          <div class="form-group">
            <label for="name_field">Name:</label>
            <input class="form-control" name="name" type="text" id="name_field" style="width: 350px;"/>
          </div>
          <div class="form-group">
            <label for="text_field">Text:</label>
            <input class="form-control" name="text" type="text" id="text_field" style="width: 350px;" />
          </div>
          <button class="btn btn-primary" type="submit">Submit</button>
        </form>
      {% endif %}
      <!-- display tweets here -->
      {% for tweet in tweets %}
        <li class="tweet row">
          <div class="col-md-1">
            <img src="http://placehold.it/50x50">
          </div>
          <div class="col-md-11">
            <div class="col-md-12"><a href="/users/{{tweet.name}}"><strong>
              {{tweet.name}}</strong></a>
            </div>
            <div class="col-md-12"><a href="/tweets/{{tweet.id}}">
              {{tweet.text}}</a>
            </div>
          </div>
        </li>


      {% endfor %}
      
    </div>
  </div>
    
{% endblock %}